{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "app/build/outputs/apk/release/*.apk",
            "label": "Release APK"
          }
        ]
      }
    ],
    [
        "@semantic-release/git",
        {
          "assets": ["CHANGELOG.md", "app/build.gradle.kts"],
          "message": "chore(release): ${nextRelease.version} [skip ci]"
        }
    ]
  ]
}
